/* All is Well General */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;
}

/*------------------------------------------------------------------
    [Nav Bar]
------------------------------------------------------------------*/
.logo{
    width: 40px;
}

.btn.primary-color{
    background-color: #24CDAF;
    color: #FFF; 
}

.logo-text{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

.backgrounds{
    background-color: #F8FFFF;
}

.main-text{
    color: #272F36;
}

.sub-text{
    color: #939393
}

.search-card{
    display: flex;
    background-color: #FFF;
    padding: 1rem;
    box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
    border-radius: 0.5rem;
}

.search-card .form-control{
    border-width: 0;
}

.search-card .form-control:focus{
    box-shadow: none;
}

.img-responsive{
    width: 100%;
    z-index: -1;
}

.img-about{
    width: 50%;
}

.img-experience{
    width: 20%;
    margin: auto;
}



/*------------------------------------------------------------------
    [Price List]
------------------------------------------------------------------*/
.card-price{
    color: slategray;
    text-decoration: none;
}

.card-price:hover{
    transition: .3s transform cubic-bezier(.155m 1.05, .295,1.11), .3s box-shadow, .3s -webkit-transform cubic-bezier (1.55, 1.105, .295, 1.12);
    cursor: pointer;
    -moz-transform: translate(0px, -20px);
    -webkit-transform: translate(0px, -20px);
    -o-transform: translate(0px, -20px);
    -ms-transform: translate(0px, -20px);
    transform: translate(0px, -10px);
}

.card-price h2{
    font-weight: 600;
    font-size: 48px;
}

.sub-text{
    text-align: justify;
}

.cross{
    font-size: 1rem;
    color: #CD2424;
}

.head-price{
    color: #24CDAF;
    border-style: solid;
    border-width: 1px;
    background-color: #FFF;
    border-color: #24CDAF;
    font-weight: bold;
    border-radius: 10px;
}

.poin-price{
    margin-right: 3%;
    padding: 10px;
    color: #FFF;
    border-radius: 100%;
}

.poin-price.checklist{
    font-size: 1rem;
    background-color: #24CDAF;
}

.poin-price.cross{
    font-size: 1rem;
    color: #CD2424;
}

.bg-card{
    background-color: #24CDAF;
    text-decoration: none;
    color: #FFF;
}

.bg-card:hover{
    color: #FFF;
}
/*------------------------------------------------------------------
    [Footer]
------------------------------------------------------------------*/
.footer{
    background-color: #24CDAF;
    color: #FFF;
}

.list{
    padding: 0;
    list-style-type: none;
}

.list-unstyled{
    color: #FFF;
    text-decoration: none;
}

.list-unstyled:hover{
    color: #03977C;
}

.logo-footer{
    width: 35px;

}

/*------------------------------------------------------------------
    [Swiper Slider]
------------------------------------------------------------------*/
.swiper-slider{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-clients-img{
    display: block;
    width: 130px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1 );
}

.swiper-clients-img:hover{
    opacity: .8;
    transition-duration: 200mx;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}